body{
  background-color: #EEE2DC;
}
#title{
  background-color: #AC3B61;
}
#main{
  background-color: #EEE2DC;
}
.headerr{
  color: #123C69;
}
.HeaderText{
  width: 50%;
  padding-top: 150px;
  padding-left: 100px;
  padding-bottom: 200px;
  text-align: left;
}
.button {
  background-color: #AC3B61;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #EDC7B7;
  color: #123C69;
}
#QuizCards{
  background-color: #EEE2DC;
  padding-left: 50px;
  padding-bottom: 50px;
}
.cardText{
  text-align: center;
  padding-bottom: 15px;
  color: #123C69;
}
.row{
  padding-left: 50px;
}
.column{
  width: 20%;
  text-align: left;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #AC3B61;
  color: #fff;
  margin-right: 70px;
}
#AboutUs{
  background-color: #EEE2DC;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  text-align: left;
}
.bottom-container{
  text-align: center;
  background-color: #AC3B61;
  color: #fff;
  padding: 15px 0 5px;
}
